asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
coverage==5.0.3
coveralls==1.10.0
Django==3.0.2
django-basic-jwt-auth==0.2
django-cors-headers==3.1.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.3.0
docopt==0.6.2
ecdsa==0.15
entrypoints==0.3
flake8==3.7.9
idna==2.8
mccabe==0.6.1
psycopg2==2.7.7
psycopg2-binary==2.8.3
pyasn1==0.4.8
pycodestyle==2.5.0
pyflakes==2.1.1
PyJWT==1.7.1
python-jose==3.1.0
pytz==2019.3
requests==2.22.0
rsa==4.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.8
